*{
    padding: 0;
    margin: 0;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

:root{
    --greenpattern:#17ca80;
    --gerydarkpattern:#2f2f2f;
    --whitepatern:#fafafa;
    --greypettern:#f1f1f1;
}


.main_div{
    padding: .45rem;
    background-color:var(--greypettern);

}
.thecarousel{
 height: 600px;
 width: 100%;
background-color: #2f2f2f;
border-radius: 1rem;
text-align: center;
display: flex;
position: relative;
justify-content: center;
align-items: center;

}
section{
    margin-bottom: 2rem;
}
.thecarousel h3 {
    margin: 0;
    color: rgb(255, 255, 255);
}
.thegridabout{
   display: grid;
   grid-template-columns: auto auto;
    height: 500px;
    gap: 1rem;


}
.imagegrid{
 background-color: #17ca80;
 border-radius: 1rem;
 height: 100%;

}
.contentgrid{
    border-radius: 1rem;
    background-color: var(--whitepatern);
    height: 100%;

}